span {
  margin: auto;
  color: white;
}
h1 {
  font-size: 1.5vw;
}
.sections{
  align-items: center;
}
.section {
  cursor: pointer;
  align-items: center;
  color: white;
  margin: 10% 0% 0% 0%;
  min-height: 7vh;
  width: 80%;
  font-size: 1vw;
}
.section:hover {
  background-color: rgba(63, 38, 127, 1);
  border-radius: 10px;
}
.section img {
  margin: 5%;
}
mat-icon {
  color: white;
  width: auto;
  height: auto;
}

.example-icon {
  background-color: transparent;
  border: white;
  width: auto;
}

.sidenav,
.navbar {
  background-color: #150f42;
}
.sidenav {
  width: 15%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body {
  background: var(
    --web-gradient,
    linear-gradient(270deg, #92a3fd 0%, #3f267f 100%)
  );
}

.title {
  display: flex;
  width: 15%;
}

.options {
  display: flex;
  align-items: center;
}

.mat-drawer-content {
  position: relative;
  z-index: 1;
  display: block;
  height: auto;
  overflow: unset;
}

mat-select {
  color: white;
}

.notify {
  border-radius: 0.44819rem;
  background: var(
    --vrakka-habits-progress-bar-linear,
    linear-gradient(270deg, #c58bf2 1.94%, #92a3fd 100%)
  );
}

.logo {
  display: flex;
  align-items: center;
}
