<div class="container">
  <h2 class="regular">Request assistance</h2>
  <div class="wbox column">
    <div class="content">
      <div>
        <h3 class="medium">Select Subject</h3>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1">General Inquiry</mat-radio-button>
          <mat-radio-button value="2">General Inquiry</mat-radio-button>
          <mat-radio-button value="3">General Inquiry</mat-radio-button>
          <mat-radio-button value="4">General Inquiry</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <h3 class="regular">Message</h3>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Write your message...</mat-label>
            <textarea matInput placeholder="My question is..."></textarea>
          </mat-form-field>
        </form>
      </div>
      <button class="sendbtn">Send Message</button>
    </div>
  </div>
</div>
