<div class="container">
  <h2 class="regular" style="color: white;">{{ "Support.Sup1" | translate }}</h2>
  <div class="wbox column">
    <div class="content">
      <div>
        <h3 class="medium">{{ "Support.Sup2" | translate }}</h3>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1">General Inquiry</mat-radio-button>
          <mat-radio-button value="2">General Inquiry</mat-radio-button>
          <mat-radio-button value="3">General Inquiry</mat-radio-button>
          <mat-radio-button value="4">General Inquiry</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <h3 class="regular">{{ "Support.Sup3" | translate }}</h3>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>{{ "Support.Sup4" | translate }}</mat-label>
            <textarea matInput placeholder="My question is..."></textarea>
          </mat-form-field>
        </form>
      </div>
      <button class="sendbtn">{{ "Support.Sup5" | translate }}</button>
    </div>
  </div>
</div>
