<div class="container column">
  <div>
    <h3 class="medium white" [ngClass]="colorToggleService.isColorsOn ? 'color-off' : 'color-on'">Presentations</h3>
    <div class="row wrap">
      <div class="example-ripple-container mat-elevation-z4 regular" matRipple>
        <img src="/assets/icons/Plus.svg" alt="">
        <h3>Compensation Plan</h3>
      </div>
      <div class="example-ripple-container mat-elevation-z4 regular" matRipple>
        <img src="/assets/icons/Plus.svg" alt="">
        <h3>New Asset</h3>
      </div>
      <div class="example-ripple-container mat-elevation-z4 regular" matRipple>
        <img src="/assets/icons/Plus.svg" alt="">
        <h3>New Asset</h3>
      </div>
      <div class="example-ripple-container mat-elevation-z4 regular" matRipple>
        <img src="/assets/icons/Plus.svg" alt="">
        <h3>New Asset</h3>
      </div>
    </div>    
  </div>
  <div>
    <h3 class="medium white" [ngClass]="colorToggleService.isColorsOn ? 'color-off' : 'color-on'">Videos</h3>
    <div class="row wrap">
      <div class="example-ripple-container mat-elevation-z4 regular" matRipple>
        <img src="/assets/icons/Plus.svg" alt="">
        <h3>Compensation Plan</h3>
      </div>
      <div class="example-ripple-container mat-elevation-z4 regular" matRipple>
        <img src="/assets/icons/Plus.svg" alt="">
        <h3>New Asset</h3>
      </div>
      <div class="example-ripple-container mat-elevation-z4 regular" matRipple>
        <img src="/assets/icons/Plus.svg" alt="">
        <h3>New Asset</h3>
      </div>
      <div class="example-ripple-container mat-elevation-z4 regular" matRipple>
        <img src="/assets/icons/Plus.svg" alt="">
        <h3>New Asset</h3>
      </div>
    </div>
  </div>
  <div>
    <h3 class="medium white" [ngClass]="colorToggleService.isColorsOn ? 'color-off' : 'color-on'">Logos</h3>
    <div class="row wrap">
      <div class="example-ripple-container mat-elevation-z4 regular" matRipple>
        <img src="/assets/icons/Plus.svg" alt="">
        <h3>Compensation Plan</h3>
      </div>
      <div class="example-ripple-container mat-elevation-z4 regular" matRipple>
        <img src="/assets/icons/Plus.svg" alt="">
        <h3>New Asset</h3>
      </div>
    </div>
  </div>
</div>
