.example-ripple-container {
  cursor: pointer;
  text-align: center;
  background-color: white;
  width: 200px;
  height: 150px;
  line-height: 200px;
  border: solid 2px rgba(125, 103, 255, 1);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.square{
  width: 30px;
  height: 30px;
  border: solid 1px rgba(125, 103, 255, 1);
}