<div class="container column">
  <div>
    <h3 class="medium white" [ngClass]="colorToggleService.isColorsOn ? 'color-off' : 'color-on'">{{ "Material.Mat1" | translate }}</h3>
    <div class="row wrap">
      <a href="{{ 'Material.Mat2' | translate }}" class="example-ripple-container mat-elevation-z4 regular" target="_blank" download="{{ 'Material.Mat10' | translate }}">
        <img src="/assets/icons/Plus.svg" alt="">
        <h3>{{ 'Material.Mat18' | translate }}</h3>
      </a>
      <a href="{{ 'Material.Mat3' | translate }}" class="example-ripple-container mat-elevation-z4 regular" target="_blank" download="{{ 'Material.Mat1' | translate }}">
        <img src="/assets/icons/Plus.svg" alt="">
        <h3>Vrakka LitePaper</h3>
      </a>
      <a href="{{ 'Material.Mat4' | translate }}" class="example-ripple-container mat-elevation-z4 regular" target="_blank" download="{{ 'Material.Mat12' | translate }}">
        <img src="/assets/icons/Plus.svg" alt="">
        <h3>{{ 'Material.Mat19' | translate }}</h3>
      </a>
      <a href="{{ 'Material.Mat5' | translate }}" class="example-ripple-container mat-elevation-z4 regular" target="_blank" download="{{ 'Material.Mat13' | translate }}">
        <img src="/assets/icons/Plus.svg" alt="">
        <h3>{{ 'Material.Mat20' | translate }}</h3>
      </a>
      <a href="{{ 'Material.Mat6' | translate }}" class="example-ripple-container mat-elevation-z4 regular" target="_blank" download="{{ 'Material.Mat14' | translate }}">
        <img src="/assets/icons/Plus.svg" alt="">
        <h3>VRK Token</h3>
      </a>
      <a href="{{ 'Material.Mat7' | translate }}" class="example-ripple-container mat-elevation-z4 regular" target="_blank" download="{{ 'Material.Mat15' | translate }}">
        <img src="/assets/icons/Plus.svg" alt="">
        <h3>Vrakka Tokenomics</h3>
      </a>
      <a href="{{ 'Material.Mat8' | translate }}" class="example-ripple-container mat-elevation-z4 regular" target="_blank" download="{{ 'Material.Mat16' | translate }}">
        <img src="/assets/icons/Plus.svg" alt="">
        <h3>{{ 'Material.Mat21' | translate }}</h3>
      </a>
      <a href="{{ 'Material.Mat9' | translate }}" class="example-ripple-container mat-elevation-z4 regular" target="_blank" download="{{ 'Material.Mat17' | translate }}">
        <img src="/assets/icons/Plus.svg" alt="">
        <h3>Vrakka Whitepaper</h3>
      </a>
    </div>    
  </div>
  <div>
    <h3 class="medium white" [ngClass]="colorToggleService.isColorsOn ? 'color-off' : 'color-on'">Videos</h3>
    <div class="row wrap">
      <a href="https://www.youtube.com/watch?v=H5WWDw3k8kw" class="example-ripple-container mat-elevation-z4 regular" target="_blank">
        <img src="/assets/icons/Plus.svg" alt="">
        <h3>Vrakka</h3>
      </a>
      <a href="https://www.youtube.com/watch?v=mzLYaIBDvsI" class="example-ripple-container mat-elevation-z4 regular" target="_blank">
        <img src="/assets/icons/Plus.svg" alt="">
        <h3>VRAKKA ECOSYSTEM</h3>
      </a>
      <a href="https://drive.google.com/drive/folders/122z0VqhU28JX3zzxj2sDlrBLjkCE8QG1?usp=sharing" class="example-ripple-container mat-elevation-z4 regular" target="_blank">
        <img src="/assets/icons/Plus.svg" alt="">
        <h3>Video Shorts</h3>
      </a>
    </div>
  </div>
  <div>
    <h3 class="medium white" [ngClass]="colorToggleService.isColorsOn ? 'color-off' : 'color-on'">Logos</h3>
    <div class="row wrap">
      <a href="/assets/docs/VrakkaLogo.png" class="example-ripple-container mat-elevation-z4 regular" target="_blank" download="VrakkaLogo">
        <img src="/assets/icons/Plus.svg" alt="">
        <h3>Vrakka Logo</h3>
      </a>
      <a href="/assets/docs/VrakkaLogoCircle.png" class="example-ripple-container mat-elevation-z4 regular" target="_blank" download="VrakkaLogo2">
        <img src="/assets/icons/Plus.svg" alt="">
        <h3>Vrakka Logo 2</h3>
      </a>
      <a href="/assets/docs/VrakkaLogoSquare.png" class="example-ripple-container mat-elevation-z4 regular" target="_blank" download="VrakkaLogo3">
        <img src="/assets/icons/Plus.svg" alt="">
        <h3>Vrakka Logo 3</h3>
      </a>
      <a href="/assets/docs/VRKtoken.png" class="example-ripple-container mat-elevation-z4 regular" target="_blank" download="VrakkaLogo4">
        <img src="/assets/icons/Plus.svg" alt="">
        <h3>Vrakka Logo 4</h3>
      </a>
    </div>
  </div>
</div>
