<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="linked_camera"></mat-icon>
<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="tonality"></mat-icon>
<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="burst_mode"></mat-icon>
<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon>
<router-outlet></router-outlet>
<app-dashboard></app-dashboard>