<div class="container">
  <app-welcome class="banner"></app-welcome>
  <div class="content">
    <div class="buttons " [ngClass]="colorToggleService.isColorsOn ? 'conts-off' : 'conts-on'">
      <button class="part medium ttc" (click)="changeContent('part1')">
        {{ "Product.Prod1" | translate }}
      </button>
      <button class="part medium ttc" (click)="changeContent('part2')">
        {{ "Product.Prod2" | translate }}
      </button>
    </div>
    <div class="conts" *ngIf="selectedPart === 'part1'" [ngClass]="colorToggleService.isColorsOn ? 'conts-off' : 'conts-on'">
      <div class="ttprod medium ttc">
        <h2> {{ "Product.Prod3" | translate }}</h2>
      </div>
      <div class="desc">
        <p class="regular ttc">
          {{ "Product.Prod4" | translate }}
        </p>
        <p class="medium ttc">{{ "Product.Prod5" | translate }}</p>
      </div>
      <div class="products">
        <div class="product">
          <div class="ttprod starter-bg">
            <h3 class="title r-regular ttp row ttc">STARTER</h3>
          </div>
          <div class="row">
            <img class="packimg" src="/assets/images/2200.png" alt="" />
            <div class="data-prod column ttc">
              <p class="r-regular">
                {{ "Product.Prod6" | translate }}
                <span style="color: rgba(197, 139, 242, 1)">3</span> {{ "Product.Prod7" | translate }}
              </p>
              <div class="r-medium bg-price">
                420 <span style="font-size: 0.6vw">US</span>
              </div>
              <p class="r-regular ttc">
                {{ "Product.Prod8" | translate }} 12
                <span class="r-regular" style="font-size: 0.5vw">US</span>
              </p>
              <button class="r-regular btn-prod">{{ "Product.Prod9" | translate }}</button>
            </div>
          </div>
        </div>
        <div class="product">
          <div class="ttprod">
            <h3 class="title r-regular ttp row basic-bg ttc">BASIC</h3>
          </div>
          <div class="row">
            <img class="packimg" src="/assets/images/5000.png" alt="" />
            <div class="data-prod column ttc">
              <p class="r-regular">
                {{ "Product.Prod6" | translate }}
                <span style="color: rgba(197, 139, 242, 1)">6</span> {{ "Product.Prod7" | translate }}
              </p>
              <div class="r-medium bg-price">
                575 <span class="r-regular" style="font-size: 0.6vw">US</span>
              </div>
              <p class="r-regular">
                {{ "Product.Prod8" | translate }} 25 <span style="font-size: 0.5vw">US</span>
              </p>
              <button class="regular btn-prod">{{ "Product.Prod9" | translate }}</button>
            </div>
          </div>
        </div>
        <div class="product">
          <div class="ttprod">
            <h3 class="title r-regular ttp row esential-bg">ESENTIAL</h3>
          </div>
          <div class="row">
            <img class="packimg" src="/assets/images/10000.png" alt="" />
            <div class="data-prod column ttc">
              <p class="r-regular">
                {{ "Product.Prod6" | translate }}
                <span style="color: rgba(197, 139, 242, 1)">9</span> {{ "Product.Prod7" | translate }}
              </p>
              <div class="r-medium bg-price">
                575 <span class="r-regular" style="font-size: 0.6vw">US</span>
              </div>
              <p class="r-regular">
                {{ "Product.Prod8" | translate }} 25 <span style="font-size: 0.5vw">US</span>
              </p>
              <button class="regular btn-prod">{{ "Product.Prod9" | translate }}</button>
            </div>
          </div>
        </div>
        <div class="product">
          <div class="ttprod">
            <h3 class="title r-regular ttp row deluxe-bg">DELUXE</h3>
          </div>
          <div class="row">
            <img class="packimg" src="/assets/images/10000x2.png" alt="" />
            <div class="data-prod column ttc">
              <p class="r-regular">
                {{ "Product.Prod6" | translate }}
                <span style="color: rgba(197, 139, 242, 1)">12</span> {{ "Product.Prod7" | translate }}
              </p>
              <div class="r-medium bg-price">
                575 <span class="r-regular" style="font-size: 0.6vw">US</span>
              </div>
              <p class="r-regular">
                {{ "Product.Prod8" | translate }} 25 <span style="font-size: 0.5vw">US</span>
              </p>
              <button class="regular btn-prod">{{ "Product.Prod9" | translate }}</button>
            </div>
          </div>
        </div>
        <div class="product-lg">
          <div class="ttprod">
            <h3 class="title r-regular ttp row master-bg ttc">MASTER</h3>
          </div>
          <div class="row">
            <img class="packimg-lg" src="/assets/images/10000x2.png" alt="" />
            <div class="data-prod-lg column ttc">
              <p class="r-regular">
                {{ "Product.Prod6" | translate }}
                <span style="color: rgba(197, 139, 242, 1)">12</span> {{ "Product.Prod10" | translate }}
              </p>
              <div class="row">
                <div class="r-medium bg-price-lg">
                  1620
                  <span class="r-regular" style="font-size: 0.6vw">US</span>
                </div>
                <p class="r-regular">
                  {{ "Product.Prod8" | translate }} 180 <span style="font-size: 1vw">US</span>
                </p>
              </div>
              <button class="regular btn-prod btn-lg">{{ "Product.Prod11" | translate }}</button>
            </div>
          </div>
        </div>
        <div class="product">
          <div class="ttprod">
            <h3 class="title r-regular ttp row ttc">Token VRK</h3>
          </div>
          <div class="row">
            <img class="packimg" src="/assets/images/10000.png" alt="" />
            <div class="data-prod column ttc">
              <p class="r-regular">
                {{ "Product.Prod6" | translate }}
                <span style="color: rgba(197, 139, 242, 1)">1</span> {{ "Product.Prod7" | translate }}
              </p>
              <div class="r-medium bg-price">
                6 <span class="r-regular" style="font-size: 0.6vw">US</span>
              </div>
              <p class="r-regular">
                {{ "Product.Prod15" | translate }} <br /> {{ "Product.Prod16" | translate }}               
              </p>
              <button class="regular btn-prod">{{ "Product.Prod9" | translate }}</button>
            </div>
          </div>
        </div>
        <div class="product">
          <div class="ttprod">
            <h3 class="title r-regular ttp row ttc">NFT Vrakka</h3>
          </div>
          <div class="row">
            <img class="packimg" src="/assets/images/10000x2.png" alt="" />
            <div class="data-prod column ttc">
              <p class="r-regular">
                {{ "Product.Prod6" | translate }}
                <span style="color: rgba(197, 139, 242, 1)">1</span> {{ "Product.Prod7" | translate }}
              </p>
              <div class="r-medium bg-price">
                300 <span class="r-regular" style="font-size: 0.6vw">US</span>
              </div>
              <p class="r-regular"></p>
              <button class="regular btn-prod">{{ "Product.Prod9" | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="selectedPart === 'part2'">
      <div class="conts" [ngClass]="colorToggleService.isColorsOn ? 'conts-off' : 'conts-on'">
        <div class="ttprod medium ttc">
          <h2>{{ "Product.Prod2" | translate }}</h2>
        </div>
        <div class="desc ttc">
          <p class="regular">
            {{ "Product.Prod12" | translate }}
          </p>
        </div>
        <div class="products ttc">
          <div class="product">
            <div class="ttprod">
              <h3 class="title r-regular">VRK Tokens</h3>
            </div>
            <div class="row">
              <img class="packimg" src="/assets/images/vrktokens.png" alt="" />
              <div class="data-prod column">
                <div class="r-medium">
                  2,000 VRK
                  <span class="r-regular" style="font-size: 0.6vw">S</span>
                </div>
              </div>
            </div>
          </div>
          <div class="product">
            <div class="ttprod">
              <h3 class="title r-regular">Vrakka NFTs</h3>
            </div>
            <div class="row">
              <img class="packimg" src="/assets/images/nfts.png" alt="" />
              <div class="data-prod column">
                <div class="r-medium">
                  6 NFT
                  <span class="r-regular" style="font-size: 0.6vw">S</span>
                </div>
              </div>
            </div>
          </div>
          <div class="product-lg data-prod-lg-t">
            <div class="ttprod">
              <h3 class="title r-regular">{{ "Product.Prod6" | translate }} Vrakka Academy</h3>
            </div>
            <div class="row">
              <img
                class="packimg-lg-two"
                src="/assets/images/academy.png"
                alt=""
              />
              <div class="data-prod-lg column">
                <p class="r-regular textcenter">{{ "Product.Prod13" | translate }}</p>
                <button class="regular btn-prod btn-lg btn-lg-t">
                  {{ "Product.Prod14" | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="conts mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <caption class="title tb-title regular">
            <h2>{{ "Product.Prod17" | translate }}</h2>
          </caption>
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>{{ "Product.Prod18" | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.date }}</td>
          </ng-container>
          <ng-container matColumnDef="orderID">
            <th mat-header-cell *matHeaderCellDef>{{ "Product.Prod19" | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.order }}</td>
          </ng-container>
          <ng-container matColumnDef="product">
            <th mat-header-cell *matHeaderCellDef>{{ "Product.Prod20" | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.product }}</td>
          </ng-container>
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>{{ "Product.Prod21" | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.price }}</td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>{{ "Product.Prod22" | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.status }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          [length]="100"
          [pageSize]="5"
          [pageSizeOptions]="[5, 10]"
          (page)="(data)"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
