<div class="welcome row medium" [ngClass]="colorToggleService.isColorsOn ? 'grad-off' : 'grad-on'">
  <div class="welcome-left column">
    <h2>{{"Welcome.Wel1"| translate}}VARIABLE.</h2>
    <p>{{"Welcome.Wel2"| translate}}<img src="/assets/images/logotext.png" alt="" /></p>
  </div>
  <div class="welcome-right column">
    <p>{{"Welcome.Wel3"| translate}}: Vrakka.com/VARIABLE</p>
    <button class="medium"  (click)="copyLinkToClipboard('https://www.youtube.com')">{{"Welcome.Wel4"| translate}}</button>
  </div>
</div>
