.welcome {
  border-radius: 15px;
  width: 100%;
  min-height: auto;
  flex-wrap: wrap;
  border: solid 1px rgba(255, 255, 255, 0.793);
  box-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.304);
  margin: 3% 0% 0% 0%;
  background: linear-gradient(
    to right,
    rgba(113, 102, 210, 1),
    rgba(83, 74, 186, 1)
  );
  color: white;
}
.welcome-left {
  margin-left: 2%;
  width: 55%;
  justify-content: center;
  margin: 1.5%;
}
.welcome-left h2 {
  margin: 0;
  color: black;
}
.welcome-left p {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.7rem;
  align-items: center;
  margin: 0;
}
.welcome-left img {
  width: 15%;
}
.welcome-right {
  justify-content: center;
  align-items: center;
  width: 40%;
}
.welcome button {
  width: 50%;
  min-height: 40px;
  border-radius: 50px;
  border: none;
  color: white;
  background: linear-gradient(
    to left,
    rgba(197, 139, 242, 1),
    rgba(146, 163, 253, 1)
  );
  cursor: pointer;
}

@media (max-width: 576px) {
  .welcome-left{
    flex-basis: 100%;
    text-align: center;
  }
  .welcome-left img {
    margin: auto;
    width: 40%;
  }
  .welcome-right{
    flex-basis: 100%;
    text-align: center;
  }
  .welcome button{
    margin: 3%;
  }
}
/*Small tablets and smartphones on horizontal*/
@media screen and (min-width: 577px) and (max-width: 767px) {
  .welcome-left img {
    width: 35%;
  }
}

/*Tablets and big smartphones*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  .welcome-left img {
    width: 35%;
  }
}