<div class="container">
  <div class="conts white" [ngClass]="colorToggleService.isColorsOn ? 'grad-off' : 'grad-on'">
    <div class="row top-bal">
      <div class="left">
        <h3 class="regular mg-bot-0">{{ "Comissions.Com1" | translate }}</h3>
        <p class="thin purp mg-top-0 ttc">{{ "Comissions.Com2" | translate }}</p>
      </div>
      <h2 class="medium left">VARIABLE <span>USD</span></h2>
    </div>
    <div class="bot-bal left">
      <h3 class="regular mg-bot-0">
        {{ "Comissions.Com3" | translate }}<span class="purp">VARIABLE</span>
      </h3>
      <p class="thin mg-top-0">
        {{ "Comissions.Com4" | translate }}
      </p>
    </div>
  </div>
  <div class="conts mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <caption class="title tb-title regular">
        <div class="row">
          <h2>{{ "Comissions.Com5" | translate }}</h2>
          <button class="btnexport">
            <img style="width: 0.8rem" src="/assets/icons/export.svg" alt="" />
            {{ "Comissions.Com6" | translate }}
          </button>
        </div>
      </caption>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>{{ "Comissions.Com7" | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.date }}</td>
      </ng-container>
      <ng-container matColumnDef="orderID">
        <th mat-header-cell *matHeaderCellDef>{{ "Comissions.Com8" | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
      </ng-container>
      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef>{{ "Comissions.Com9" | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.desc }}</td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>{{ "Comissions.Com10" | translate }}</th>
        <td mat-cell *matCellDef="let element">
          <button class="btnpurple">{{ "Comissions.Com11" | translate }}</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [length]="100"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10]"
      (page)="(data)"
    >
    </mat-paginator>
  </div>
</div>
