<div class="container">
  <app-welcome class="banner"></app-welcome>
  <div class="balance conts" [ngClass]="colorToggleService.isColorsOn ? 'conts-off' : 'conts-on'">
    <div class="title row">
      <h2 class="regular ttc">{{ "Dashboard.Dash1" | translate }} -</h2>
      <h3 class="thin ttc">{{ "Dashboard.Dash2" | translate }} </h3>
    </div>
    <div class="squares row">
      <div class="square column">
        <h3 class="row thin h3sq">
          <span class="circle"  style="background-color: rgba(248, 6, 255, 1);"
            ><img src="/assets/icons/Sales.svg" alt=""/></span
          >{{ "Dashboard.Dash3" | translate }}
        </h3>
        <h2 class="regular mg-5">$ VALOR USD</h2>
        <p class="colorstext regular">+ N% {{ "Dashboard.Dash7" | translate }}</p>
      </div>
      <div class="square column">
        <h3 class="row thin h3sq">
          <span class="circle" style="background-color: rgba(252, 172, 80, 1)"
            ><img src="/assets/icons/Comissions.svg" alt="" /></span
          >{{ "Dashboard.Dash4" | translate }}
        </h3>
        <h2 class="regular mg-5">$ VALOR USD</h2>
        <p class="colorstext regular">+ N% {{ "Dashboard.Dash7" | translate }}</p>
      </div>
      <div class="square column">
        <h3 class="row thin h3sq">
          <span class="circle" style="background-color: rgba(19, 207, 221, 1)"
            ><img src="/assets/icons/Sold.svg" alt="" /></span
          >{{ "Dashboard.Dash5" | translate }}
        </h3>
        <h2 class="regular mg-5">$ VALOR USD</h2>
        <p class="colorstext regular">+ N% {{ "Dashboard.Dash7" | translate }}</p>
      </div>
      <div class="square column">
        <h3 class="row thin h3sq">
          <span class="circle" style="background-color: rgba(140, 48, 245, 1)"
            ><img src="/assets/icons/Customers.svg" alt="" /></span
          >{{ "Dashboard.Dash6" | translate }}
        </h3>
        <h2 class="regular mg-5">$ VALOR USD</h2>
        <p class="colorstext regular">+ N% {{ "Dashboard.Dash7" | translate }}</p>
      </div>
    </div>
  </div>
  <div class="goals conts column" [ngClass]="colorToggleService.isColorsOn ? 'goal-off' : 'goal-on'">
    <div>
      <h2 class="title regular ttc">{{ "Dashboard.Dash8" | translate }}</h2>
    </div>
    <div class="infocont">
      <p class="regular ttc">{{ "Dashboard.Dash9" | translate }}</p>
      <div>
        <p class="colortxt bold mg-0">{{ "Dashboard.Dash10" | translate }}</p>
        <p class="regular mg-0 ttc">Up-to-date: 70</p>
        <mat-slider>
          <input
            matSliderThumb
            [(ngModel)]="defaultValueIphone"
            [disabled]="true"
            #slider
          />
        </mat-slider>
      </div>
      <div>
        <p class="colortxt bold mg-0">{{ "Dashboard.Dash11" | translate }}</p>
        <p class="regular mg-0 ttc">Up-to-date: 70</p>
        <mat-slider>
          <input
            matSliderThumb
            [(ngModel)]="defaultValueLaunch"
            [disabled]="true"
            #slider
          />
        </mat-slider>
      </div>
    </div>
  </div>
  <div class="offer conts row" [ngClass]="colorToggleService.isColorsOn ? 'grad-off' : 'grad-on'">
    <div class="oftext column">
      <h2 class="title regular">{{ "Dashboard.Dash12" | translate }}</h2>
      <p class="regular">
        {{ "Dashboard.Dash13" | translate }}
      </p>
      <button class="btns medium" style="cursor: pointer">
        {{ "Dashboard.Dash14" | translate }}
      </button>
    </div>
    <div class="row">
      <img src="/assets/images/academy-large.png" alt="" />
    </div>
  </div>
  <div class="promos conts"  [ngClass]="colorToggleService.isColorsOn ? 'conts-off' : 'conts-on'">
    <div><h2 class="title regular ttc">{{ "Dashboard.Dash15" | translate }}</h2></div>
    <div class="promimg row">
      <img src="/assets/images/promo.png" alt="" />
      <img src="/assets/images/promo.png" alt="" />
      <img src="/assets/images/promo.png" alt="" />
    </div>
  </div>
  <div class="mapping conts row">
    <div class="salestitle">
      <h3 class="regular" style="color: white">{{ "Dashboard.Dash16" | translate }}</h3>
    </div>
    <div id="map" class="map-link"></div>
  </div>
  <div class="sub conts">
    <div class="salestitle">
      <h3 class="regular" style="color: white">{{ "Dashboard.Dash17" | translate }}</h3>
    </div>
  </div>
</div>
