<div class="container" style="background-color: green">
  <div class="welcome row conts">
    <div class="welcome-left column">
        <h2>Hi VARIABLE.</h2>
        <p>Earn Over 10% with...<img src="/assets/images/logotext.png" alt="" /></p>
    </div>
    <div class="welcome-right column">
      <p>Referal Link: Vrakka.com/VARIABLE</p>
      <button>Copy Link</button>
    </div>
  </div>
  <div class="balance conts">
    <div></div>
    <div></div>
  </div>
  <div class="goals conts" style="background-color: blue">x</div>
  <div class="offer conts" style="background-color: purple">x</div>
  <div class="promos conts" style="background-color: blueviolet">x</div>
  <div class="mapping conts" style="background-color: aqua">x</div>
  <div class="sub conts" style="background-color: greenyellow">x</div>
</div>
