.balance {
  color: white;
}
.balance .title{
  flex-wrap: wrap;
}
.squares {
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2%;
}
.square {
  border-radius: 15px;
  background-color: rgba(21, 15, 66, 1);
  width: 22%;
  justify-content: center;
  text-align: center;
}
.h3sq {
  margin: auto;
  width: 60%;
  align-items: center;
  font-size: 1rem;
  padding-top: 5%;
}
.h3sq span {
  margin-right: 5%;
}
.mg-5 {
  margin: 5% 0% 0% 0%;
}
.colorstext {
  background: linear-gradient(
    to right,
    rgba(192, 0, 220, 1) 50%,
    rgba(137, 73, 255, 1),
    rgba(0, 240, 255, 1) 70%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.circle {
  border-radius: 50%;
  min-width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 35px;
}
.progress-wrapper {
  position: relative;
  height: 20px;
}
.progress-end-dot {
  position: absolute;
  bottom: -5px;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  z-index: 1;
}
.progress-label {
  position: relative;
}
mat-slider {
  width: 100%;
}
.goals {
  color: white;
  align-items: center;
}
.colortxt{
  background: linear-gradient(to left, rgba(225, 23, 253, 1) 75%, rgba(13, 193, 229, 1) 83%, rgba(62, 109, 241, 1)93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2rem;
}
.infocont{
  width: 90%;
}
.offer {
  color: white;
  justify-content: center;
  flex-wrap: wrap;
}
.oftext {
  align-items: center;
  text-align: center;
  width: 55%;
  margin: auto;
  padding-bottom: 2.4%;
}
.offer button {
  width: 50%;
  min-height: 40px;
  border-radius: 50px;
  border: none;
  color: white;
  background: linear-gradient(
    to right,
    rgba(18, 128, 190, 1),
    rgba(99, 25, 169, 1)
  );
}
.offer img {
  margin: auto;
  width: 75%;
}
.promos {
  color: white;
}
.promimg {
  justify-content: space-between;
  margin: 3%;
}
.promimg img {
  width: 30%;
}
.mapping {
  width: 45%;
  flex-wrap: wrap;
}
.sub {
  width: 45%;
}
.mg-0{
  margin: 0;
}
.salestitle{
  width: 30%;
  font-size: 0.8rem;
  margin: 3% 0% 3% 3%;
}
.map-link {
  width: 65%;
  margin: 5% 0% 5% 0%;
}
.container{
  padding-bottom: 5%;
}
@media (max-width:576px) {
  .balance .title h3,h2{
    flex-basis: 80%;
  }
  .squares{
    justify-content: center;
  }
  .square{
    flex-basis: 80%;
    margin: 5%;
  }
  .offer img{
    margin: 10%;
  }
  .oftext{
    flex-basis: 80%;
  }
  .offer .row{
    flex-basis: 80%;
  }
  .promimg{
    flex-wrap: wrap;
    justify-content: center;
  }
  .promimg img {
    width: 80%;
    margin: 5%;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .square{
    flex-basis: 40%;
    margin: 5%;
  }
  .oftext{
    width: 85%;
  }  
  .offer img{
    margin: auto auto 5% auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .square{
    flex-basis: 40%;
    margin: 5%;
  }
  .oftext{
    width: 85%;
  }  
  .offer img{
    margin: auto auto 5% auto;
  }
}