body {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Poppins-Regular";
  src: url(/assets/fonts/poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins-Bold";
  src: url(/assets/fonts/poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Poppins-Medium";
  src: url(/assets/fonts/poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Poppins-Thin";
  src: url(/assets/fonts/poppins/Poppins-Thin.ttf);
}
@font-face {
  font-family: "Rubik-Regular";
  src: url(/assets/fonts/rubik/Rubik-Regular.ttf);
}
@font-face {
  font-family: "Rubik-Medium";
  src: url(/assets/fonts/rubik/Rubik-Medium.ttf);
}
@font-face {
  font-family: "Rubik-Bold";
  src: url(/assets/fonts/rubik/Rubik-Bold.ttf);
}
.regular {
  font-family: "Poppins-Regular";
}
.bold {
  font-family: "Poppins-Bold";
}
.medium {
  font-family: "Poppins-Medium";
}
.thin {
  font-family: "Poppins-Thin";
}
.r-regular{
  font-family: "Rubik-Regular";
}
.r-medium{
  font-family: "Rubik-Medium";
}
.r-bold{
  font-family: "Rubik-Bold";
}
.title {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent;
}
.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(
    .mdc-text-field--textarea
  )
  .mat-mdc-form-field-infix {
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  align-items: center;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.mat-mdc-select-arrow svg {
  fill: white;
}

.material-icons {
  font-size: 32px;
}

.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: auto;
  justify-content: space-between;
}  
.conts {
  border-radius: 15px;
  width: 100%;
  min-height: auto;
  background-color: rgba(63, 38, 127, 1);
  border: solid 1px rgba(255, 255, 255, 0.793);
  box-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.304);
  margin: 2% 0% 0% 0%;
}
.banner{
  width: 100%;
}
