<div class="container">
  <div class="buttons">
    <button class="part medium" (click)="changeContent('part1')">
      {{"Settings.Set1" | translate}}
    </button>
    <button class="part medium" (click)="changeContent('part2')">
      {{"Settings.Set2" | translate}}
    </button>
  </div>

  <div class="cont-s" *ngIf="selectedPart === 'part1'">
    <div class="conts">
      <div class="ttprod medium">
        <h2>{{"Settings.Set3" | translate}}</h2>
      </div>
      <div class="inpts">
        <div class="column">
          <h3 class="thin">{{"Settings.Set4" | translate}}</h3>
          <input
            class="r-input regular"
            type="text"
            value="   VARIABLE"
            readonly
          />
        </div>
        <div class="column">
          <h3 class="thin">{{"Settings.Set5" | translate}}</h3>
          <input
            class="r-input regular"
            type="text"
            value="   VARIABLE"
            readonly
          />
        </div>
        <div class="column">
          <h3 class="thin">{{"Settings.Set6" | translate}}</h3>
          <input
            class="r-input regular"
            type="text"
            value="   VARIABLE"
            readonly
          />
        </div>
        <div class="column">
          <h3 class="thin">{{"Settings.Set7" | translate}}</h3>
          <input
            class="r-input regular"
            type="text"
            value="   VARIABLE"
            readonly
          />
        </div>
        <div class="column">
          <h3 class="thin">Email</h3>
          <input
            class="r-input regular mg-5"
            type="text"
            value="   VARIABLE"
            readonly
          />
        </div>
        <div class="column">
          <h3 class="thin">{{"Settings.Set8" | translate}}</h3>
          <input
            class="r-input regular mg-5"
            type="text"
            value="   VARIABLE"
            readonly
          />
        </div>
      </div>
    </div>
    <div class="conts">
      <div class="ttprod medium">
        <h2>Password</h2>
      </div>
      <div class="inpts-p column">
        <div class="p-input r-input regular row">
          <img src="/assets/icons/Pass.svg" alt="" />
          <input class="pass-in" placeholder=" Old Password" type="password" />
        </div>
        <div class="p-input r-input regular row">
          <img src="/assets/icons/Pass.svg" alt="" />
          <input class="pass-in" placeholder=" New Password" type="password" />
        </div>
        <div class="relative row">
          <div class="p-input r-input regular row">
            <img src="/assets/icons/Pass.svg" alt="" />
            <input
              class="pass-in"
              placeholder=" Repeat New Password"
              type="password"
            />
          </div>
          <button class="btnpurple savebtn">{{"Settings.Set11" | translate}}</button>
        </div>
      </div>
    </div>
    <mat-slide-toggle>{{"Settings.Set9" | translate}}</mat-slide-toggle>
    <span class="example-spacer"></span>
  </div>
  <div class="cont-s" *ngIf="selectedPart === 'part2'">
    <div class="conts">
      <div class="ttprod medium">
        <h2>{{"Settings.Set10" | translate}}</h2>
      </div>
      <div class="relative row">
        <div class="p-input r-input regular row">
          <img src="/assets/icons/Pass.svg" alt="" />
          <input
            class="pass-in"
            placeholder=" Wallet"
            type="number"
          />
        </div>
        <button class="btnpurple savebtn">{{"Settings.Set11" | translate}}</button>
      </div>
    </div>
    <div class="conts">
      <div class="ttprod medium">
        <h2>{{"Settings.Set12" | translate}}</h2>
      </div>
      <div class="relative row">
        <div class="p-input r-input regular row">
          <img src="/assets/icons/Pass.svg" alt="" />
          <input
            class="pass-in"
            placeholder=" Wallet"
            type="number"
          />
        </div>
        <button class="btnpurple savebtn">{{"Settings.Set11" | translate}}</button>
      </div>
    </div>
  </div>
</div>
